#container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    padding-bottom: 4em;
    padding-top: 3em;
    overflow-y: auto;
}

h1 {
    text-align: left;
}

#scan-button {   
    position: fixed;
    width: 100%;
    bottom:0px;
    text-align: center;
    z-index: 10;
    margin-bottom: 4em;
    margin-left: -0.5em;
}

.id-card {
    margin-bottom: 0.5em;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.icon-button {
    width: 5em;
    height: 5em;
}

.icon {
    transform: scale(1.8);
}