#container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    padding-bottom: 4em;
    padding-top: 3em;
    overflow-y: auto;
}

h1 {
    text-align: left;
}

#scan-button {   
    position: fixed;
    width: 100%;
    bottom:0px;
    text-align: center;
    z-index: 10;
    margin-bottom: 4em;
    margin-left: -0.5em;
}

.id-card {
    margin-bottom: 0.5em;
}

.avatar {
  background-image: url('https://cdn.bsky.app/img/avatar_thumbnail/plain/did:plc:q3enoeuha5b2zx4p4atxtb7x/bafkreiero7mh3x5fnegzkjfmkzteiiqookgr4rww7jevpfkvdz5v4zislu@jpeg');
  background-size: cover;
  margin-bottom: 0;
  width: 4em;
  height: 4em;
}

.icon-button {
    width: 6em;
    height: 6em;
}

.icon {
    height: 2.5em;
    width: 2.5em;
    line-height: 2.2em;
    font-size: 3.2em;
}

mat-card-header {
    padding-bottom: 1em;
}

mat-card-subtitle {
    font-size: small;
}